<div class="module_inner_border">

    <!-- REPLACE WITH INTRODUCTORY TEXT & ANY OTHER NAVIGATION BUTTONS DESIRED -->
    <p>Tycho Station is a space station dedicated to ship-building that houses over 15,000 spacefarers. It is also
        (covertly) home to the Outer Planets Alliance (OPA) branch run by Fred Johnson. The OPA itself is made up of
        roughly 100 million belters, individuals who have lived most of their lives in space without the influence
        of gravity. In fact, of the entire belter population, at least 50 million are reported to be politically
        active members of the OPA! </p>

    <p>Currently, the OPA’s main goal is to obtain independence from the governments of Earth and Mars. In order to
        facilitate this, Tycho Station keeps meticulous records regarding the comings-and-goings of the galaxy.
        Their surveillance database records information about people working on registered ships, their skills, and
        their connection to other political factions. Users of the database need to be able to modify, add, and
        delete entries from the database to reflect various world events. </p>

    <p>The OPA has made it a priority to record data about both its own citizens and those of the factions opposing
        belter independence: Earth and Mars. Earth, which is run by the United Nations (UN), is responsible for over
        30 billion citizens, including 1 billion citizens living on the planet’s moon. The UN claims to have over
        100 million active troops and, at 250,000 warships, they have the largest fleet in the Sol system. Mars,
        which is run by the Martian Congressional Republic (MCR), claims roughly 9 billion citizens. Via mandatory
        military service and technological advancements, the MCR manages to hold its own against Earth; they boast a
        military arm of over 75 million troops and 100,000 warships.</p>

    <p>Tycho Station’s database could, potentially, contain information about >40 billion inhabitants and >300,000
        ships; however, the OPA tends to prioritize collecting data about those considered politically significant.
        Of the politically significant players, roughly 100 leaders and 10 ships are deemed truly influential.</p>

</div>



