<table>
    <tr>
        <th colspan="2" class="th_title">{{title}}</th>
    </tr>
    <tr>
        <th class="th_category">Description</th>
        <th class="th_category"></th>
    </tr>

    <tr>
        <form method="post" id="post_new_skill" class="icon_form">
            <td><input type="text" id="form_skill_name" name="skill_name" placeholder="Acrobatics" required></td>
            <td>
                <!-- ADD NEW SKILL -->
                <input type="submit" name="New" value="ADD"></td>
        </form>
    </tr>


    {{#each x}}
        <tr>
            <td>{{name}}</td>

            <td>
                <!-- UPDATE A SKILL-->
                <form method="post" id="post_update_skill" class="icon_form">
                    <input type="hidden" name="skill_id" value="{{skill_id}}">
                    <input type="submit" name="Edit" value="EDIT">
                </form>

                <!-- DELETE A SKILL -->
                <form method="post" id="post_delete_skill" class="icon_form">
                    <input type="hidden" name="skill_id" value="{{skill_id}}">
                    <input type="submit" name="Delete" value="&#10060">
                </form>
            </td>
        </tr>
    {{/each}}
</table>
